.html{
    height: 100%;
}

header{
    box-sizing: border-box;
    background-color: darkgray;
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198);
    text-align: center;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    border-radius: 3px;


}

 .navbar-navbar-expand-lg-navbar-light-bg-light{ 
    background-color: rgb(205, 198, 198);
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198); 
    color: black; 
     margin-right: 30px;

}
.navbar-toggler-icon{
    margin-right: 3rem;
}
.navbar-nav{

    box-sizing: border-box;
    background-color: darkgray;
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198);
}

.bg-light {
    background-color: rgb(205, 198, 198)!important;
    border-style: solid;
    border-color:rgb(205, 198, 198);
    border-radius: 3px;


}

*{
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1{
  text-align: center;
  
}
.contact-selection h1{
  background: url(images/D942A91E-0496-4716-852A-6FBC00DC91BD.jpeg);
  background-size: cover;
  background: 100vh;
  padding: 40px 0;
}
.border{
  width: 100px;
  height: 10px;
  background: black;
  margin: 40px auto;

}
.contact-form{
  text-align: left;
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;

}
.contact-form-text{
  display: block;
  width: auto;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;


}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;

}
.textarea.contact-form-text{
  resize: none;
  height: 120px;
  width: 115px;
}
.contact-form-btn{
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;


}
.contact-form-btn:hover{
  background: #2980b9;
}
body {
     
    align-content: center;
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:black;
    background-origin: border; 
    background-color: rgba(78, 78, 96, 0.598);
    padding-top: 2rem;
    max-width: 1100px;
    background:url("images/D942A91E-0496-4716-852A-6FBC00DC91BD.jpeg") no-repeat center;
    opacity: .9;
    background-size:cover ;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
  align-items: center;
  font-size: 2rem;
  text-indent: 5%;
  text-align: center;
  position: center;
  margin-top: 4rem ;
  }

  .fa-facebook {
    size: 1rem;
  }
  .fa-linkedin {
      size: 1rem;
    }
    .fa-instagram {
      size: 1rem;
    }

    footer{
      text-align: center;
      color:whitesmoke;
      font-size: 25px;
      font-weight: 200;
      margin-top: 5rem;
  }

    .contact-form-text {
      box-sizing: border-box;
      width: 24rem;
    }