
 .navbar-navbar-expand-lg-navbar-light-bg-light{ 
    background-color: rgb(205, 198, 198);
    margin: 2rem;
    margin-top: 3rem;
    margin-right: 30px;
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198); 
    color: black; 
   
    opacity: .9; 
}
.navbar-toggler-icon{
    margin-right: 3rem;
}
.navbar-nav{

    box-sizing: border-box;
    background-color: darkgray;
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198);
}

.bg-light {
    background-color: rgb(205, 198, 198)!important;
    border-style: solid;
    border-color:rgb(205, 198, 198);
    border-radius: 3px;
}



body{ 
    margin: auto;
    margin-top: 4rem;
    background-image:url(images/IMG_1673.jpeg);   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 1100px;
    height: 100%;
    align-content: center;
  
   

}
.container{
    box-sizing: border-box;
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    flex-direction: row;
    
    
   

}

.card{
   margin: 2rem;
    
}

footer{
    text-align: center;
    color:whitesmoke;
    font-size: 25px;
    font-weight: 200;
}


