
 .navbar-navbar-expand-lg-navbar-light-bg-light{ 
    background-color: rgb(205, 198, 198);
    margin: 2rem;
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198); 
    color: black; 
    margin-right: 30px;
    opacity: .9; 
}
.navbar-toggler-icon{
    margin-right: 3rem;
}
.navbar-nav{

    box-sizing: border-box;
    background-color: darkgray;
    border-color:blanchedalmond; 
    border-style: solid;
    border-color:rgb(205, 198, 198);
}

.bg-light {
    background-color: rgb(205, 198, 198)!important;
    border-style: solid;
    border-color:rgb(205, 198, 198);
    border-radius: 3px;
}

.portfolio{
    padding-top: 1rem;
    padding-bottom: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin: center;
    color: black;
}


.body{ 
    margin: auto;
    border-radius: 3%;
    background-image:url(assets:images/IMG_1673.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 1100px;
    min-height: 100%;
   

}
.container{
    box-sizing: border-box;
    margin-top: 2rem;
    border-radius: 2rem;
    border-bottom: 4rem;
    padding-top: 3rem;
    align-content: center;
    padding-top: 1%;
    background-color: whitesmoke;
    flex-grow: auto;
    image-rendering: auto;
    
    
  
}
.row{
    box-sizing: content-box;
    text-align: center;
    font-size: 2rem;
    align-content: center;
    image-rendering: auto;


}


